/*
  Document Manager CSS Stylesheet
  ------------------------------
  This stylesheet defines the styling for the Document Manager application.
  It includes theme variables, layout styles, and component-specific styles
  such as cards, headers, search forms, and breadcrumbs.
*/

/* Theme Variables */
:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

/* Global Styles */
body {
  color: var(--foreground);
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

main {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  gap: 30px; /* Adds spacing between elements */
}

/* Document Manager Layout */
.docManager {
  display: flex;
  flex-direction: column;
}

.doc-flex-item {
  padding-top: 2%;
}

.docHeader {
  text-align: center;
  font-weight: 600;
  font-size: 250%;
}

/* File Path & Breadcrumb Navigation */
.filePath {
  display: flex;
  flex-direction: row;
  margin-left: 4.1%;
  font-weight: 500;
  font-size: 150%;
}

.breadcrumb {
  padding: 2px 15px;
}

.breadcrumb:hover {
  background-color: #e7e7e7;
  transition: 0.1s;
  border-radius: 15px;
}

/* Headers and Buttons */
h2 {
  margin-left: 5%;
  font-weight: 550;
  font-size: 90%;
}

.back-button {
  margin-left: 5%;
}

/* Card Component */
.card {
  display: flexbox;
  position: relative;
  background-color: #d3d3d3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  border-radius: 16px;
  padding: 1%;
  float: inline-start;
  margin: 1% 0.25% 1% 5%;
  font-weight: 600;
  font-size: 90%;
  overflow-wrap: break-word; /* Ensures text wrapping */
  flex-wrap: wrap;
}

.folder-icon {
  display: inline;
  font-size: 18px;
  color: #000000;
  margin-right: 10px;
  pointer-events: none;
}

.card a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card:hover {
  box-shadow: 0 4px 8px 0 #084c3c;
  color: #194206;
  transition: 0.1s;
}

/* Search Form */
.search-form {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 3%;
  left: 15%;
  width: 350px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #f0eeee;
  transition: all 0.3s ease;
  padding-left: 15px;
}

.search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.search-form:hover {
  box-shadow: 0 4px 8px 0 #084c3c;
  color: #194206;
  transition: 0.1s;
}

.search-icon {
  font-size: 18px;
  color: #888;
  margin-right: 10px;
  pointer-events: none;
}

.search-input {
  flex-grow: 1;
  font-size: 14px;
  background: none;
  color: #414850;
  width: 100%;
  height: 100%;
  border: none;
  appearance: none;
  outline: none;
}

.search-input::-webkit-search-cancel-button {
  appearance: none;
}
